@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#title{
    color: #9CC1D9;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 50px 0 20px 0;
    font-size: 40px;
    text-align: center;
}

.question-send-page{
    margin: 20px 50px auto 50px;
    border: 1px solid gray; 
    padding : 20px 15px 30px 15px;
    text-align: center;
}

.write_in{
    margin: 4px 79px 0 10px;
}

.write_in input{
    width: 70%;
    height: 40px;
    font-size: 15px;
}

.questionInfo{
    margin: 20px 30px 0 30px;
    border: 1px solid gray; 
    padding : 20px 30px 200px 30px;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
}

#info{
    margin: 30px 30px 30px 30px;
    font-family: 'Nanum Gothic', sans-serif;
}

.content{
    float: left;
    font-size: 19px
}

.delete{
    float: right;
}