@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

h1{
    color: #9CC1D9;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 40px 0 40px 0;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.report-page{
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
}

.form1, .form2, .form3{
    margin: 0 auto 100px 0;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 25px;
    padding : 20px 15px 30px 15px;
    box-shadow: 1px 1px 1px 1px rgb(224, 224, 224);
}

.content{
    padding-top: 15px;
    text-align: center;
}

.stt, .talk_speed{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 25px;
    text-align: center;
    padding: 30px 15px 15px 15px;
    margin: 30px 20px 30px 20px;
    float: center;
}

.repetition, .adverb{
    border: 1px solid rgb(211, 211, 211);
    border-radius: 25px;
}

.info_stt{
    visibility: hidden;
}

.comment{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 30px 0 30px 0;
    font-size: 18px;
}

.question{
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 25px;
    font-size: 18px;
    padding: 0 25px 0 25px;
}

.speed_result{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 19px;
}

#delete{
    float: right;
}

.chart{
    padding-bottom: 200px;
}