<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <div th:replace="template.html :: fragment-header(title='새내기路(로)')"></div>
</head>

<body>
    <div class="container-fluid" th:style="'background:url('+ @{/img/introbackground.svg} +') no-repeat fixed; background-size:cover;'">

        <div class="row">
            <!-- herf = index.html(여기) -->
            <a id="intrologo" href="">
                <img th:src="@{/img/logo.png}" alt="logo" height="25">
            </a>
        </div>

        <!-- 내용 시작 -->
        <div class="row justify-content-around">
            <div class="col-lg-5 p-0">
                <div id="intro">
                    <h1 id="introh1">새내기路(로)</h1>
                    <!-- herf에 로그인 -->
                    <a href="/signin" class="btn btn-outline-primary"><Strong> Log in </Strong></a>
                </div>
            </div>
            <div class="col-lg-3 p-0">
                <dic id="studentbutton" class="categories__item" href="/student" th:style="'background:url('+ @{/img/introstubutton.svg} +') no-repeat; background-size:cover;'">
                    <div class="categories__text">
                        <h4>학생</h4>
                        <p class="introp">질문을 골라 모의 면접을 진행하고, 결과 리포트를 확인할 수 있다.</p>
                    </div>
                </dic>
            </div>
            <div class="col-lg-3 p-0">
                <div id="teacherbutton" class="categories__item" href="/teacher" th:style="'background:url('+ @{/img/introteabutton.svg} +') no-repeat; background-size:cover;'">
                    <div class="categories__text">
                        <h4>교사</h4>
                        <p class="introp">지정한 학생들을 관리하고, 리포트를 공유하고 질문을 보낼 수 있다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 내용 끝 -->

    <!-- 기능 소개 시작 -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>기능</h4>
                    </div>
                </div>
            </div>
            <div class="row property__gallery">
                <div class="col-lg-6 col-md-6 col-sm-6 mix women">
                    <div class="product__item">
                        <div class="product__item__pic" th:style="'background:url('+ @{/img/세팅화면.png} +');'">
                        </div>
                        <div class="product__item__text">
                            <h4>스스로 모의 면접</h4>
                            <p>가이드라인에 따라 쉽게 스스로 모의면접을 진행하고, 질문별/날짜별/제목별 분류로 영상을 관리할 수 있는 기능.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mix women">
                    <div class="product__item">
                        <div class="product__item__pic" th:style="'background:url('+ @{/img/질문리스트.png} +');'">
                        </div>
                        <div class="product__item__text">
                            <h4>다양한 질문 제공</h4>
                            <p>미리 준비된 공통 및 학과질문과, 선생님께 입력받는 질문 및 서류 분석을 통한 AI 질문까지 제공하는 기능.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mix women">
                    <div class="product__item">
                        <div class="product__item__pic" th:style="'background:url('+ @{/img/내면접리포트.png} +');'">
                        </div>
                        <div class="product__item__text">
                            <h4>면접 분석 리포트</h4>
                            <p>질문별 영상 및 대본과, 자주쓰는 반복어 및 부사어와 말 빠르기를 자동으로 분석해 답변을 더 편하게 체크할 수 있는 기능.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 mix women">
                    <div class="product__item">
                        <div class="product__item__pic" th:style="'background:url('+ @{/img/모의면접영상.png} +');'">
                        </div>
                        <div class="product__item__text">
                            <h4>선생님과 공유</h4>
                            <p>담임선생님과 모의 면접 영상을 공유하고, 댓글 피드백 및 질문 전송이 가능한 기능.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 기능 소개 끝 -->

    <!-- 질문리스트 시작 -->
    <section class="banner" th:style="'background:url('+ @{/img/introquestion.svg} +');'">
        <section class="shop-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="section-title">
                            <h4>질문</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-md-1">
                        <div class="shop__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="cart__product__item">
                                            <div class="cart__product__item__title">
                                                <h6>입학 후 학업계획에 대해 말해보세요.</h6>
                                            </div>
                                        </td>
                                        <td class="cart__price">기본질문</td>
                                        <td class="cart__quantity">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart__product__item">
                                            <div class="cart__product__item__title">
                                                <h6>스팸메일의 정의를 설명하고, 현재 기술동향에 대해 설명해보세요.</h6>
                                            </div>
                                        </td>
                                        <td class="cart__price">컴퓨터공학과</td>
                                        <td class="cart__quantity">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart__product__item">
                                            <div class="cart__product__item__title">
                                                <h6>한일무역규제에 대해 어떻게 생각하나요?</h6>
                                            </div>
                                        </td>
                                        <td class="cart__price">경영학과</td>
                                        <td class="cart__quantity">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- 질문 소개 끝 -->

    <footer th:replace="template.html :: fragment-footer"></footer>

</body>

</html>
