<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <div th:replace="template.html :: fragment-header(title='면접 q2')"></div>
    <link th:href="@{/css/inter_setting.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/webgazer.js}"></script>

    <meta id="_csrf" name="_csrf" content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}" />
    <script>
        $(function(){
            $('#startbutton').click(function(){
                var reportID = $(this).attr('name')
                $.ajax({
                    url:'/student/interview/question/record',
                    method:'POST',
                    data:{
                        name:'start',
                        question: 2,
                        reportID: reportID
                    },
                    dataType: 'text',
                    async: true,
                    success:function(response){
                        if (response.result != 'success') {
                            console.error(response.data)
                            return;
                        }
                    }
                });
            });
        });
        $(function(){
            $('#finishbutton').click(function(){
                var reportID = $(this).attr('name')
                $.ajax({
                    url:'/student/interview/question/stop',
                    method:'POST',
                    data:{
                        name:'finish',
                        question:2,
                        reportID: reportID,
                    },
                    success:function(response){
                        if (response.result != 'success') {
                            console.error(response.data)
                            return;
                        }else{
                            window.location.href = "/student/interview/question3/" + reportID;
                        }
                    }
                });
            });
        });
    </script>
</head>

<body>
<div class="wrapper">
<div id="card" class="container">
    <div class="card text-center">
        <div class="card-header">
            <h5>3. Interview</h5>
            <p id="notice">* 캠에 불빛이 들어오면 시작해주세요 *</p>
        </div>
        <div class="card-body">
            <!-- 질문 받아 띄우기 -->
            <div>[[${question}]]</div>
            <div> 2 / 3 </div>
        </div>
        <div class="card-footer text-muted">
            <!-- 질문 시작 -->
            <!--장고 : <input type="button" id="startbutton" name="{{user.id}}" report="{{reportID}}" value="질문시작">-->
            <input type="button" id="startbutton" th:name="${reportID}" value="질문시작">

            <!-- 질문 끝 -->
            <!--장고 : <input type="button" id="finishbutton" name="{{user.id}}" onClick="location.href='{% url 'website:interviewQ3' reportID=reportID %}'" value="다음으로">-->
            <input type="button" id="finishbutton" th:name="${reportID}" value="다음으로">
        </div>
    </div>
</div>
</div>
<footer th:replace="template.html :: fragment-footer"></footer>

</body>

</html>