<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <div th:replace="template.html :: fragment-header(title='면접 시작')"></div>
    <link th:href="@{/css/inter_setting.css}" rel="stylesheet"/>
    <script th:src="@{/js/util.js}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script th:src="@{/js/util.js}"></script>
    <script>
        $(document).ready(function(){
            $('input[id*= "question_check"]').change(function(){
                var questionID = $(this).val();
                if(interviewQuestionUnCheck(questionID)==false){
                    $(this).prop('checked','checked');
                }
            });
            $('input[id*="question_uncheck"]').change(function(){
                var questionID = $(this).val();
                if(interviewQuestionCheck(questionID)==false){
                    $(this).removeAttr('checked');
                }
            });
        });
    </script>
</head>
<body>

<div id="card" class="container">
    <div class="card text-center">
        <div class="card-header">
            <h5>1. Question</h5>
        </div>
        <div class="card-body">

            <div class="card">
                <div class="card-header">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <!--herf : 면접 질문 설정-->
                        <a class="navbar-brand" href="/student/interview">면접 질문 설정</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <!--클릭시 본인에게 할당된 모든 질문 띄워지도록-->
                                    <!--herf : 내 질문-->
                                    <a class="nav-link" href="/student/interview">내 질문</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/student/interview/question" id="navbarDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        모든 질문
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <!--클릭시 기본 질문 모두 띄워지도록(내 질문은 제외하는게 나을 듯!)-->
                                        <a class="dropdown-item" href="/student/interview/question/999">기본 질문</a>
                                        <!--클릭시 컴퓨터 질문 모두 띄워지도록(내 질문은 제외하는게 나을 듯!)-->
                                        <a class="dropdown-item" href="/student/interview/question/1">컴퓨터</a>
                                        <!--클릭시 국문 질문 모두 띄워지도록(내 질문은 제외하는게 나을 듯!)-->
                                        <a class="dropdown-item" href="/student/interview/question/2">국문</a>
                                        <!--클릭시 경영 질문 모두 띄워지도록(내 질문은 제외하는게 나을 듯!)-->
                                        <a class="dropdown-item" href="/student/interview/question/3">경영</a>
                                        <!--클릭시 생명공학 질문 모두 띄워지도록(내 질문은 제외하는게 나을 듯!)-->
                                        <a class="dropdown-item" href="/student/interview/question/4">생명공학</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        <!--for문으로 질문 단위 li태그 반복-->
                        <tr th:if="${myQuestionList!=null}">
                            <tr th:each="myQuestion: ${myQuestionList}">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <!--내 질문인 경우, 지금 'checked'부분 앞뒤에 조건(if 내 질문인 경우 checked) 넣기-->
                                        <!--A라고 되어있는 id와 for 부분에 각 질문의 고유id ex) p.id 같은걸로 넣기!-->
                                        <!--장고 : <input type="checkbox" name="interview[]" id="star_{{questionList.id}}" value="{{questionList.question}}" onclick="interstar({{questionList.id}})" checked>-->
                                        <input type="checkbox" name="question_check" th:id="|question_check_${myQuestion.getQuestion().getId()}|" th:value="${myQuestion.getId()}" checked>
                                        <!--장고 : <label class="form-check-label" for="star_{{questionList.id}}">-->
                                        <label class="form-check-label" th:for="|question_check_${myQuestion.getQuestion().getId()}|">
                                            <!--질문 유형에 따라서 3개 중 하나 띄움-->
                                            <div th:if="${myQuestion.getPart().equals(0)}">[[${myQuestion.getQuestion().getQuestion()}]]<small> - 담은 질문</small></div>
                                            <div th:if="${myQuestion.getPart().equals(1)}">[[${myQuestion.getQuestion().question}]]<small> - 작성한 질문</small></div>
                                            <div th:if="${myQuestion.getPart().equals(2)}">[[${myQuestion.getQuestion().question}]]<small> - 받은 질문</small></div>
                                    </div>
                                </li>
                            </tr>
                        </tr>

                        <tr th:if="${questionList!=null}">
                            <tr th:each="question: ${questionList}">
                            <!--for문으로 질문 단위 li태그 반복-->
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <!--내 질문인 경우, 지금 'checked'부분 앞뒤에 조건(if 내 질문인 경우 checked) 넣기-->
                                        <input type="checkbox" name="interview[]" th:id="|question_uncheck_${question.getId()}|" th:value="${question.getId()}" onclick="#">
                                        <label th:if="${question.getDepartment().equals(0)}" th:for="|question_uncheck_${question.getId()}|">
                                            [[${question.getQuestion()}]] <small> - 기본 질문</small></label>
                                        <label th:if="${question.getDepartment().equals(1)}" th:for="|question_uncheck_${question.getId()}|">
                                            [[${question.getQuestion()}]] <small> - 컴퓨터학과 질문</small></label>
                                        <label th:if="${question.getDepartment().equals(2)}" th:for="|question_uncheck_${question.getId()}|">
                                            [[${question.getQuestion()}]] <small> - 경영학과 질문</small></label>
                                        <label th:if="${question.getDepartment().equals(3)}" th:for="|question_uncheck_${question.getId()}|">
                                            [[${question.getQuestion()}]] <small> - 국어국문학과 질문</small></label>
                                        <label th:if="${question.getDepartment().equals(4)}" th:for="|question_uncheck_${question.getId()}|">
                                            [[${question.getQuestion()}]] <small> - 생명공학과 질문</small></label>
                                    </div>
                                </li>
                            </tr>
                        </tr>

                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <!--버튼을 누르면 check된 질문이 다음 면접화면에 사용 됨-->
            <!--혹시 프론트에서 JQuery로 하는 부분이라면 말해주세용 : 아마 value와 id, name 사용하는 듯-->
            <!--예제 = https://csslab.tistory.com/116-->
            <a href="/student/interview/setting" type="submit" class="btn btn-outline-primary"><Strong> 다음 > </Strong></a>
        </div>
    </div>
</div>

<footer th:replace="template.html :: fragment-footer"></footer>

</body>
</html>