<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="stutemplate"
      lang="ko">

    <!--내 질문 시작-->
    <section layout:fragment="f-content" class="container-fluid">
        <div class="card">
            <div class="card-header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">질문 장바구니</a>
                    <!--모바일 환경에서 화면비에 따라 토글 띄워지는 부분-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <!--클릭시 본인에게 할당된 모든 질문 띄워지도록-->
                                <a class="nav-link" href="#">모든 질문</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    질문 종류
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <!--클릭시 본인의 질문들 중, 담은 질문 띄워지도록-->
                                    <a class="dropdown-item" href="#">담은 질문</a>
                                    <!--클릭시 본인의 질문들 중, 작성한 질문 띄워지도록-->
                                    <a class="dropdown-item" href="#">작성한 질문</a>
                                    <!--클릭시 본인의 질문들 중, 받은 질문 띄워지도록-->
                                    <a class="dropdown-item" href="#">받은 질문</a>
                                    <div class="dropdown-divider"></div>
                                    <!--클릭시 본인의 질문들 중, AI가 생성한 질문 띄워지도록-->
                                    <a class="dropdown-item disabled" href="#">AI 질문</a>
                                </div>
                            </li>
                            <li class="nav-item">
                               <!--질문 추가버튼 클릭해 팝업창 띄워졌을 때, 선생님 질문 보내기 처럼(쪽지처럼) 구동-->
                                <button class="btn btn-outline-secondary" type="button" style="margin-left: 10px;">작성한 질문 추가</button>
                            </li>
                        </ul>
                        <form method="POST" class="form-inline my-2 my-lg-0">
                            <!--입력 창-->
                            <input id="questionsearchinput" name="question_search" class="form-control mr-sm-2" type="search" placeholder="질문을 검색하세요" aria-label="검색">
                            <!--클릭시 입력창의 키워드가 들어간 본인의 질문들을 아래에 띄우도록-->
                            <button id="questionsearchbutton" name="question_search_button" aria-activedescendant="" class="btn btn-outline-primary my-2 my-sm-0" type="submit">검색</button>
                        </form>
                    </div>
                </nav>
            </div>

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <tr th:each="myQuestion: ${myQuestionList}">
                    <!--for문으로 질문 단위 li태그 반복-->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <!--"질문 내용" 이 부분에 질문 내용 띄우도록 / small 태그 안 "작성한 질문" 부분은 질문 종류 띄우도록 -->
                            <div>질문 내용<small> - 작성한 질문</small></div>
                            <!--삭제 버튼 클릭해 팝업창 띄워졌을 때, 예 클릭시 질문 삭제 하도록-->
                            <button type="button" th:id="${myQuestion.getId()}" class="btn btn-secondary btn-sm" onclick="">삭제</button>
                        </li>
                    </tr>
                </ul>
            </div>
        </div>
    </section>
    <!--내 질문 끝-->

</html>