<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link th:href="@{/css/resultIDPW.css}" rel="stylesheet"/>
</head>

<body>
    <div class="find-page">
        <h1>아이디 찾기</h1>
        <div class="form">
            <form class="IDPW-form" method="post" action="">
                <div class="result">
                    <!-- 해당하는 회원의 아이디 출력 -->
                    <p id="id">아이디 : </p>
                </div>
                <div class="button">
                    <!-- href 뒤에 로그인url 삽입 -->
                    <input type="submit" id="signin" onClick="location.href=''" value="로그인">
                    <!-- href 뒤에 비밀번호찾기url 삽입 -->
                    <input type="submit" id="findPW" onClick="location.href=''" value="비밀번호 찾기">
                    <!-- href 뒤에 홈url 삽입 -->
                    <input type="button" id="home" onClick="location.href=''" value="홈으로">
                </div>
            </form>
        </div>
    </div>
</body>
</html>

