<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>

<body>
    <div class="signin-page">
        <div class="intro">
            <h1>새내기路(로)</h1>
            <p>AI기반 대입 모의 면접 솔루션</p>
        </div>
        <div class="form">
            <form th:action="@{/signup}" class="signin-form" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="text" id="userID" name="userID" placeholder="아이디">
                <input type="password" id="password" name="password" placeholder="비밀번호">
                <!-- 로그인 실패시 error 발생 -->
                <input type="submit" value="로그인" id="signin">
            </form>
            <!-- href에 회원가입 url 넣기 -->
            <a href="/signup"><input type="submit" value="회원가입" id = "signup"></a>
            <!-- href에 아이디(findId), 비밀번호(findPW) 찾기 url 넣기 -->
            <p class="message">아이디/비밀번호를 잊으셨나요? <a href="">아이디</a>/<a href="">비밀번호 찾기</a></p>
        </div>
    </div>
</body>
</html>


