<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ajax 통신을 위한 meta tag -->
    <meta name="_csrf" content="${_csrf.token}">
    <meta name="_csrf_header" content="${_csrf.headerName}">
    <title>회원가입</title>
    
    <link th:href="@{/Semantic-UI-master/dist/semantic.min.css}" rel="stylesheet" />
    <link th:href="@{/css/signup.css}" rel="stylesheet" />
<!--    <script th:src="@{/Semantic-UI-master/dist/semantic.min.js}"></script>-->
    <script th:src="@{/js/user.js}"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        // 학교명 자동검색
        // $(document).ready(function () {
        //     // $("#schoolName").autocomplete({
        //     //     source: '',
        //     //     select: function (event, ui) {
        //     //         var selectedObj = ui.item
        //     //     }
        //     // });
        //     $('.ui.search')
        //         // source 채우기
        //         .search({
        //             source:
        //         });
        // });


        // 아이디 중복확인
        $(function () {
            $('#userIDChk').click(function () {
                var userID = $('#userID').val();
                if (userID == '') {
                    alert('아이디를 입력해주세요');
                    return;
                }

                $.ajax({
                    // url 채우기
                    url: '/userIdCheck',
                    type: 'POST',
                    data: {'userID':userID},
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (response) {
                        if (response.data == 'exist') {
                            console.log(response.data)
                            alert("존재하는 아이디입니다");
                            $('#userID').val('').focus();
                            return;
                        }
                        else {
                            alert("사용 가능한 아이디입니다");
                            $("#complete").attr("id_check_result", "success");
                            return;
                        }
                    },
                    error: function (xhr, error) {
                        alert("서버와의 통신에서 문제가 발생했습니다");
                        console.error("error : " + error);
                    }
                });
            });

            $('#signup-form').submit(function () {
                if ($("#complete").attr("id_check_result") == "fail") {
                    alert("아이디 중복확인을 해주세요");
                    $("#userID").focus();
                    return false;
                }
            });
        });
    </script>
    <meta id="_csrf" name="_csrf" content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}" />
</head>

<body>
    <div class="wrap">
        <div class="signup-page">
            <h1>회원가입</h1>
            <form th:action="@{/signup}" class="signup-form" method="post" onsubmit="return checkSignupForm();">
                <div class="ui form">
                    <div class="inline fields">
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="isTeacher" value="student" checked="checked"> <!--name: frequency -> isTeacher, add value-->
                          <label>학생</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="isTeacher" value="teacher"> <!--name: frequency -> isTeacher, add value-->
                          <label>교사</label>
                        </div>
                      </div>
                    </div>
                </div>
                <input type="text" id="username" name="username" placeholder="이름을 입력해주세요">
                <input type="text" id="userID" name="userID" placeholder="아이디를 입력해주세요">
                <input id="userIDChk" type="button" name="userIdValidation" value="중복확인">
                <input type="password" id="password" name="password" onchange="fn_pw_lenCheck()"
                    placeholder="비밀번호를 입력해주세요">
                <p class="pwMessage" style="text-align: left;">비밀번호는 최소 8자 이상, 최대 20자 이하로 구성해주세요.</p>
                <input type="password" id="passwordChk" name="passwordChk" onchange="fn_pw_check()"
                    placeholder="다시 한 번 더 입력해주세요">
                <input type="text" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' id="phone"
                    name="phone" placeholder="핸드폰 번호를 입력해주세요">
                <p class="message" style="text-align: left;">단, 숫자만 입력해주세요. ex) 01011112222</p>
                <div class="schoolInfo">
                    <hr>
                    <p class="schoolMessage" style="text-align: left;">▶ 학교정보 입력(교사일 경우, 담당 학급 입력)</p>
                    <p class="message" style="text-align: left;">자동검색 기능을 이용하여 학교명을 검색해주세요</p>
                    <div class="ui search">
                        <input class="prompt" type="text" placeholder="학교명을 검색하세요">
                    </div>
                    <select name="grade">
                        <option id="grade" selected="selected" value=null>학년</option>
                        <option value=1>1학년</option>
                        <option value=2>2학년</option>
                        <option value=3>3학년</option>
                        <option value=0>졸업생</option>
                    </select>
                    <input type="text" id="class" name="sClass" placeholder="반을 입력하세요">
                    <hr>
                </div>
                <!-- 로그인으로 이동 -->
                <input type="button" id="cancle" onClick="location.href=''" value="취소">
                <!-- 회원가입 시키기 -->
                <input type="submit" id="complete" id_check_result="fail" name="save" value="완료">
            </form>
        </div>
    </div>
</body>

</html>