<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <div th:replace="template.html :: fragment-header(title='학생 홈')"></div>
</head>
<body>
<div th:replace="template.html :: fragment-stunav"></div>

<div class="container-fluid" th:style="'background:url('+ @{/img/introbackground.svg} +') fixed no-repeat; background-size:cover;'">
    <div id="stuwrapper" class="row">
        <div class="col-lg-6 p-0">
            <div class="categories__item categories__large__item">
                <div class="categories__text">
                    <h1 id="introh1">새내기路(로)</h1>
                    <!--Herf : 면접 시작-->
                    <a href="#" class="btn btn-outline-primary"><Strong> 면접 시작 </Strong></a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <!--Herf : 내 영상-->
                    <a class="categories__item" th:style="'background:url('+ @{/img/stumyvideo.svg} +') no-repeat;'"
                       href="#">
                        <div class="categories__text">
                            <h4>내 영상</h4>
                            <p>모의 면접 영상들을 질문별/제목별/날짜별로 관리하는 기능</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <!--Herf : 내 질문-->
                    <a class="categories__item" th:style="'background:url('+ @{/img/stumyquest.svg} +') no-repeat;'"
                       href="#">
                        <div class="categories__text">
                            <h4>내 질문</h4>
                            <p>별표 질문과 사용자 작성 질문, 교사에게 공유 받은 질문 및 AI 생성질문을 확인하는 기능</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 p-0">
                    <!--Herf : 질문 리스트-->
                    <a class="categories__item" th:style="'background:url('+ @{/img/stuquestlist.svg} +') no-repeat;'"
                       href="#">
                        <div class="categories__text">
                            <h4>질문 리스트</h4>
                            <p>40여개의 공통질문과 학과별 질문을 제공하는 기능</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<footer th:replace="template.html :: fragment-footer"></footer>

</body>

</html>
