<!-- 교사 홈 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <div th:replace="template.html :: fragment-header(title='교사 홈')"></div>
</head>

<body>
<div th:replace="template.html :: fragment-teanav"></div>

<!-- 상단 시작 -->
<div class="wrapper">
<div class="container-fluid" th:style="'background:url('+ @{/img/introbackground.svg} +') fixed no-repeat;'">
    <div id="stuwrapper" class="row">
        <!-- 배너 영역 -->
        <div class="col-lg-6 p-0">
            <div class="categories__item">
                <div class="categories__text">
                    <h1 id="introh1">새내기路(로)</h1>
                    <p id="introp">학생의 면접영상을 쉽게 관리할 수 있는 모의 면접 서비스.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 상단 끝, 내용 시작-->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>학생 면접 관리</h4>
                </div>
            </div>
        </div>

        <div class="container">
            <!--학생 card 반복 -->
            <a th:each="report : ${reports}">
                <a th:href="@{/classVideo/{id}(id=${report.id})}">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <img th:src="@{/img/연회색.png}" alt="" class="img-rounded img-responsive"/>
                                </div>
                                <div class="col-sm-6 col-md-8">
                                    <!--리포트 제목-->
                                    <p th:text="${report.title}"/>
                                    <!--학생이름-->
                                    <h4 th:text="${report.student.username}"/>
                                    <!--학생학교, 학년 반-->
                                    <small th:text="${report.student.school}" />
                                    <small th:text="${report.student.grade}" />
                                    <small th:text="${report.student.sClass}" />
                                    <!--학생전화번호-->
                                    <p th:text="${report.student.phone}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </a>

        </div>

    </div>
</section>
    <!-- 내용 끝 -->

</div>
<footer th:replace="template.html :: fragment-footer"></footer>

</body>

</html>
