<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!--    <div>-->
<!--        <button class="recordButton" onclick="startRecording()">Recording</button>-->
<!--        <button class="stopButton" onclick="stopRecording()">Stop</button>-->
<!--    </div>-->
    <button id="start-camera">Start Camera</button>
    <video id="video" width="320" height="240" autoplay></video>
    <button id="start-record">Start Recording</button>
    <button id="stop-record">Stop Recording</button>
    <a id="download-video" download="test.webm">Download Video</a>
</body>

<script language="javascript" type="text/javascript">
    let camera_button = document.querySelector("#start-camera");
    let video = document.querySelector("#video");
    let start_button = document.querySelector("#start-record");
    let stop_button = document.querySelector("#stop-record");
    let download_link = document.querySelector("#download-video");

    let camera_stream = null;
    let media_recorder = null;
    let blobs_recorded = [];

    camera_button.addEventListener('click', async function() {
        camera_stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: true });
        video.srcObject = camera_stream;
    });

    start_button.addEventListener('click', function() {
        // set MIME type of recording as video/webm
        media_recorder = new MediaRecorder(camera_stream, { mimeType: 'video/webm' });

        // event : new recorded video blob available
        media_recorder.addEventListener('dataavailable', function(e) {
            blobs_recorded.push(e.data);
        });

        // event : recording stopped & all blobs sent
        media_recorder.addEventListener('stop', function() {
            // create local object URL from the recorded video blobs
            let video_local = URL.createObjectURL(new Blob(blobs_recorded, { type: 'video/webm' }));
            console.log(video_local);
            download_link.href = video_local;
        });

        // start recording with each recorded blob having 1 second video
        media_recorder.start(1000);
    });

    stop_button.addEventListener('click', function() {
        media_recorder.stop();
    });

</script>

</html>