<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>업로드</title>
    <link th:href="@{/css/upload.css}" rel="stylesheet" />
    <!--<script th:src="@{/js/.js}"></script>-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            // 옵션추가 버튼 클릭시
            $("#addItemBtn").click(function() {
                // item 의 최대번호 구하기
                var lastItemNo = $("#example tr:last").attr("class").replace("item", "");

                var newitem = $("#example tr:eq(1)").clone();
                fncRowReset(newitem);
                newitem.removeClass();
                newitem.find("td:eq(0)").attr("rowspan", "1");
                newitem.addClass("item" + (parseInt(lastItemNo) + 1));

                $("#example").append(newitem);
            });


            // 삭제버튼 클릭시
            $("#delBtn").live("click", function() {
                var clickedRow = $(this).parent().parent();
                var cls = clickedRow.attr("class");

                // 각 항목의 첫번째 row를 삭제한 경우 다음 row에 td 하나를 추가해 준다.
                if (clickedRow.find("td:eq(0)").attr("rowspan")) {
                    if (clickedRow.next().hasClass(cls)) {
                        clickedRow.next().prepend(clickedRow.find("td:eq(0)"));
                    }
                }

                if ($("#example tr").length <= 2) {
                    fncRowReset(clickedRow);
                } else {
                    clickedRow.remove();
                }
            });

            //행 초기화
            fncRowReset = function(obj) {

                $(obj).find(':input').each(function() {

                    this.value = '';

                    this.checked = '';

                });

            };
        });
    </script>

    <script>
        $(function() {
            $("#InputInfo").click(function() {
                while ($("#example tr").length > 2) {
                    $("#example tr:eq(1)").remove();
                }
                fncRowReset("#example tr");
            });

            fncRowReset = function(obj) {

                $(obj).find(':input').each(function() {

                    this.value = '';

                    this.checked = '';

                });

            };
        });
    </script>

    <script>
        $(function() {
            $("#example").each(function(index) {
                $(this).find("select[name=subject]").attr("name", "targets[" + index + "].subject");
                $(this).find("input[name=course]").attr("name", "targets[" + index + "].course");
                $(this).find("input[name=unitNumber]").attr("name", "targets[" + index + "].unitNumber");
                $(this).find("input[name=ranking]").attr("name", "targets[" + index + "].ranking");
                $(this).find("input[name=rawRanking]").attr("name", "targets[" + index + "].rawRanking");
                $(this).find("input[name=subjectMean]").attr("name", "targets[" + index + "].subjectMean");
                $(this).find("input[name=average]").attr("name", "targets[" + index + "].average");
                $(this).find("select[name=achievement]").attr("name", "targets[" + index + "].achievement");
                $(this).find("input[name=numberOfStudent]").attr("name", "targets[" + index + "].numberOfStudent");
            });
        });
    </script>


</head>

<body>
    <p class="header1">내 서류 정보</p>
    <div class="container1">
        <p class="header2">내신 성적<button id="Graph" class="btn btn-outline-secondary" type="button" style="float: right; margin-right: 1em;">그래프 보기</button></p>
        <div class="textbox">
            <div class="input-group">
                <select class="form-select" id="grade" name="grade" aria-label="Example select with button addon">
              <option selected>학년</option>
              <option value="1">1학년</option>
              <option value="2">2학년</option>
              <option value="3">3학년</option>
            </select>
                <select class="form-select" id="semester" name="semester" aria-label="Example select with button addon">
                <option selected>학기</option>
                <option value="1">1학기</option>
                <option value="2">2학기</option>
              </select>
                <button id="InputInfo" class="btn btn-outline-secondary" type="button" onclick="InputInfo()">입력</button>
            </div>
        </div>
        <span class="header2"><span id="input-grade" class="header3"></span><span class="header3">학년&nbsp;</span><span id="input-semester" class="header3"></span><span class="header3">학기</span></span>
        <div class="textbox">
            <table id="example" style="border:1px">
                <tr>
                    <th>교과</th>
                    <th>과목</th>
                    <th>단위수</th>
                    <th>석차등급</th>
                    <th>원점수</th>
                    <th>과목평균</th>
                    <th>표준편차</th>
                    <th>성취도</th>
                    <th>수강자수</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
                <tr class="item1">
                    <td><select id="Subject" name="subject" aria-label="Example select with button addon">
                        <option selected></option>
                        <option value="S01">국어</option>
                        <option value="S02">수학</option>
                        <option value="S03">영어</option>
                        <option value="S04">사회(역사/도덕포함)</option>
                        <option value="S05">과학</option>
                        <option value="S06">체육</option>
                        <option value="S07">예술(음악/미술)</option>
                        <option value="S08">예술</option>
                        <option value="S09">기술·가정/제2외국어/한문/교양</option>
                        <option value="S10">농생명 산업</option>
                        <option value="S11">공업</option>
                        <option value="S12">상업정보</option>
                        <option value="S13">수산·해운</option>
                        <option value="S14">가사·실업</option>
                        <option value="S15">미술</option>
                        <option value="S16">디자인·문화 콘텐츠</option>
                        <option value="S17">미용·관광·레저</option>
                        <option value="S18">식품 가공</option>
                        <option value="S19">전기·전자</option>
                        <option value="S20">건설</option>
                        <option value="S21">경영·금융</option>
                        <option value="S22">과학 계열</option>
                        <option value="S23">교양</option>
                        <option value="S24">국제 계열</option>
                        <option value="S25">기계</option>
                        <option value="S26">기술·가정</option>
                        <option value="S27">농림·수산해양</option>
                        <option value="S28">보건·복지</option>
                        <option value="S29">선박 운항</option>
                        <option value="S30">섬유·의류</option>
                        <option value="S31">예술 계열</option>
                        <option value="S32">외국어 계열</option>
                        <option value="S33">음식 조리</option>
                        <option value="S34">인쇄·출판·공예</option>
                        <option value="S35">재료</option>
                        <option value="S36">정보·통신</option>
                        <option value="S37">제2외국어</option>
                        <option value="S38">체육 계열</option>
                        <option value="S39">한국사</option>
                        <option value="S40">한문</option>
                        <option value="S41">화학 공업</option>
                        <option value="S42">환경·안전</option></select>
                        </select>
                    </td>
                    <td><input type="text" id="course" name="course" /></td>
                    <td><input type="number" id="unitNumber" name="unitNumber" min="1" max="9"></td>
                    <td><input type="number" id="ranking" name="ranking" min="1" max="9"></td>
                    <td><input type="number" id="rawRanking" name="rawRanking" min="0" max="100"></td>
                    <td><input type="number" id="subjectMean" name="subjectMean" step="0.1" min="0" max="100"></td>
                    <td><input type="number" id="average" name="average" step="0.1" min="0" max="100"></td>
                    <td><select id="Achievement" name="achievement" aria-label="Example select with button addon">
                        <option selected></option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="P">P</option>
                      </select></td>
                    <td><input type="number" id="numberOfStudent" name="numberOfStudent" min="1" max="1000"></td>
                    <td><button type="button" class="btn btn-outline-secondary" id="delBtn">삭제</button></td>
                </tr>
            </table>
            <button type="button" class="btn btn-outline-secondary" id="addItemBtn">추가</button>
        </div>
        <button type="submit" value="Submit1" name="grade" class="btn btn-outline-secondary" id="save1" onclick="showalert()">등록</button>
    </div>
    <div class="container1">
        <p class="header2">학교 생활 기록부</p>
        <div class="upload">
            <div class="input-group">
                <div class="form-control" aria-label="Recipient's username with two button addons">
                    <span>파일이 없습니다.</span>
                </div>
                <label class="btn btn-outline-secondary" for="image_uploads">찾기</label>
                <button type="submit" value="Submit2" name="transcript" class="btn btn-outline-secondary" id="save2">등록</button>
            </div>
            <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple="multiple">
        </div>
    </div>
    <div class="container1">
        <p class="header2">자기소개서</p>
        <div class="textbox">
            <table>
                <th>1. 고등학교 재학 기간* 중 자신의 진로와 관련해 어떤 노력을 해왔는지 본인에게 의미 있는 학습 경험과 교내 활동을 중심으로 기술해 주시기 바랍니다.<br><small>* 검정고시 출신자는 중학교 졸업 후 고등학교 재학 기간에 준하는 기간의 경험 기술</small></th>
                <tr>
                    <td><textarea th:text="${letter.content1}" class="form-control" id="content1" name="content1" rows="8" style="width:100%; border: 0; resize: none;" maxlength="1500"></textarea><span id="counter1">###</span></td>
                </tr>
            </table>
        </div>
        <div class="textbox">
            <table>
                <th>2. 고등학교 재학 기간* 중 타인과 공동체를 위해 노력한 경험과 이를 통해 배운 점을 기술해 주시기 바랍니다.<br><small>* 검정고시 출신자는 중학교 졸업 후 고등학교 재학 기간에 준하는 기간의 경험 기술</small></th>
                <tr>
                    <td><textarea th:text="${letter.content2}" class="form-control" id="content2" name="content2" rows="8" style="width:100%; border: 0; resize: none;" maxlength="800"></textarea><span id="counter2">###</span></td>
                </tr>
            </table>
        </div>
        <div class="textbox">
            <table>
                <th th:if="${letter.question3}">3. <a id="free" name="question3" th:text="${letter.question3}"/></th>
                <th th:unless="${letter.question3}">3. <input type="text" id="free" name="question3" placeholder="대학별 자율 문항을 입력해 주시기 바랍니다."></th>
                <tr>
                    <td><textarea th:text="${letter.content3}" class="form-control" id="content3" name="content3" rows="8" style="width:100%; border: 0; resize: none;" maxlength="800"></textarea><span id="counter3">###</span></td>
                </tr>
            </table>
        </div>
        <button type="submit" value="Submit3" name="letter" class="btn btn-outline-secondary" id="save3">등록</button>
    </div>
    <script>
        function InputInfo() {
            var grade = document.getElementById("input-grade");
            if (document.getElementById("grade").value != '학년') {
                grade.innerText = document.getElementById("grade").value;
            }

            var semester = document.getElementById("input-semester");
            if (document.getElementById("semester").value != '학기') {
                semester.innerText = document.getElementById("semester").value;
            }

        }
    </script>
    <script>
        function showalert() {
            if (document.getElementById("grade").value == '학년' || document.getElementById("semester").value == '학기') {
                window.alert("학년과 학기를 입력해주시기 바랍니다.")
            }
        }
    </script>
    <script>
        const input = document.querySelector('input[type="file"]');
        const preview = document.querySelector('.form-control');

        input.addEventListener('change', updateImageDisplay);

        function updateImageDisplay() {
            while (preview.firstChild) {
                preview.removeChild(preview.firstChild);
            }

            const curFiles = input.files;
            if (curFiles.length === 0) {
                const para = document.createElement('span');
                para.textContent = '파일이 없습니다.';
                preview.appendChild(para);
            } else {
                const list = document.createElement('span');
                preview.appendChild(list);

                var count = 1;
                for (const file of curFiles) {
                    const listItem = document.createElement('span');
                    const para = document.createElement('span');
                    if (count == 1) {
                        if (validFileType(file)) {
                            para.textContent = `${file.name}`;

                            listItem.appendChild(para);
                        } else {
                            para.textContent = `${file.name}는 이미지 파일이 아닙니다.`;
                            listItem.appendChild(para);
                        }
                    } else {
                        if (validFileType(file)) {
                            para.textContent = `, ${file.name}`;

                            listItem.appendChild(para);
                        } else {
                            para.textContent = `, ${file.name}는 이미지 파일이 아닙니다.`;
                            listItem.appendChild(para);
                        }
                    }

                    list.appendChild(listItem);
                    count = count + 1;
                }
            }
        }

        // https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
        const fileTypes = [
            'image/apng',
            'image/bmp',
            'image/gif',
            'image/jpeg',
            'image/pjpeg',
            'image/png',
            'image/svg+xml',
            'image/tiff',
            'image/webp',
            `image/x-icon`
        ];

        function validFileType(file) {
            return fileTypes.includes(file.type);
        }
    </script>

    <script>
        $(function() {
            $('#content1').keyup(function(e) {
                var content = $(this).val();
                $('#counter1').html(content.length + '/1500');
            });
            $('#content1').keyup();
        });
    </script>
    <script>
        $(function() {
            $('#content2').keyup(function(e) {
                var content = $(this).val();
                $('#counter2').html(content.length + '/800');
            });
            $('#content2').keyup();
        });
    </script>
    <script>
        $(function() {
            $('#content3').keyup(function(e) {
                var content = $(this).val();
                $('#counter3').html(content.length + '/800');
            });
            $('#content3').keyup();
        });
    </script>
</body>

</html>