<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="template.html :: fragment-header(title='면접 대기')"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link th:href="@{/Semantic-UI-master/dist/semantic.min.css}" rel="stylesheet" />
    <script th:src="@{/Semantic-UI-master/dist/semantic.min.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link th:href="@{/css/wait.css}" rel="stylesheet" />

    <meta id="_csrf" name="_csrf" content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}" />
    <script>
        $(document).ready(function () {
            var check = $("input[type='checkbox']");
            check.click(function () {
                var reportID = $(this).attr('id')
                console.log(reportID)
                $.ajax({
                    // url 넣기
                    url: '/wait/share/' + reportID,
                    method: 'GET',
                    data: {
                        result: reportID
                    },
                    success: function (response) {
                        alert("해당 모의 면접 공유여부 설정이 완료됐습니다.")
                        return;
                    },
                    error: function () {
                        alert('서버와의 통신에서 문제가 발생했습니다');
                    },
                })
            });
        });

        $(document).ready(function () {
            $('.ui.accordion').accordion();
        });
    </script>
</head>

<body>
    <div th:replace="template.html :: fragment-stunav"></div>

    <div class="ui card">
        <div class="check">
            <th:block th:if="${report.share == True}">
                <label class="switch">
                    <input type="checkbox" th:id="${report.id}">
                    <span class="slider round"></span>
                </label>
            </th:block>
            <th:block th:if="${report.share == False}">
                <label class="switch">
                    <input type="checkbox" th:id="${report.id}">
                    <span class="sliderF round"></span>
                </label>
            </th:block>
        </div>

        <h1>면접 대기</h1>
        <p id="notice">분석에 시간이 다소 소요됩니다. <br> 질문을 누르시면 해당 영상을 볼 수 있으며, 영상 공개 여부를 설정할 수 있습니다.</p>
        <form class="title-form" method="post" th:action="@{/wait/{id}(id=${report.id})}">
            <p id="title_notice">▼ 아래 입력창에 모의 면접 영상 제목을 설정해보세요.</p>
            <div class="ui input focus">
                <input type="text" id="title" name="title" th:placeholder="${report.title}">
            </div>
            <input type="submit" id="complete" class="ui grey basic button" value="완료">
        </form>
        <div class="ui styled fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                <span th:text="${report.question1}"></span>
            </div>
            <div class="content">
                <p class="transition hidden">
                    <div style="text-align: center">
                        <video autoplay controls loop muted poster="" preload="" width='55%' height="55%">
                            <source th:src="@{/video/} + ${report.video1}" type="video/mp4">
                        </video>
                    </div>
                </p>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                <span th:text="${report.question2}"></span>
            </div>
            <div class="content">
                <p class="transition hidden">
                    <div style="text-align: center">
                        <video autoplay controls loop muted poster="" preload="" width='55%' height="55%">
                            <source th:src="@{/video/} + ${report.video2}" type="video/mp4">
                        </video>
                    </div>
                </p>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                <span th:text="${report.question3}"></span>
            </div>
            <div class="content">
                <p class="transition hidden">
                    <div style="text-align: center">
                        <video autoplay controls loop muted poster="" preload="" width='55%' height="55%">
                            <source th:src="@{/video/} + ${report.video3}" type="video/mp4">
                        </video>
                    </div>
                </p>
            </div>
        </div>
        <div id="button">
            <div class="move">
                <input type="button" class="ui blue basic button" id="home" onClick="location.href='/student'" value="홈으로">
            </div>
            <div class="move">
                <input type="button" id="myReport" class="ui blue basic button" onClick="location.href='/myVideo'"
                    value="리포트 확인">
            </div>
        </div>
    </div>

    <footer th:replace="template.html :: fragment-footer"></footer>
</body>

</html>